.product-contnr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.product-section {
    /* display: flex; */
    width: 100%;
    text-align: left;

    margin-top: 150px
}

.product-title>p {
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: 600;
}

.product-title {
    margin-left: 90px;
    margin-bottom: 30px;
}

.product-line {
    width: 100%;
    max-width: 500px;
    height: 1px;
    background-color: black;


}

.product-img-group {
    border-radius: 15px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 474px;
    overflow: hidden;
    position: relative;


}

.product-contnr>.product-img-group:nth-child(2) {
    max-width: 820px;
    height: 474px;
}

.suffle {
    left: 0;
    top: 0;
    position: absolute;
}

.product-img {
    scale: 1;
    transition: all 1s ease-in-out;
    height: 474px;
}

.product-img:hover {
    scale: 1.2;
    transition: all 1s ease-in-out;
}


.visible {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
}

.hide {

    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}